[project]
	description = Puppet module for handling munin master and nodes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rdkcmf (rdkcmf-jenkins)
[access "refs/for/refs/*"]
	read = group user/rdkcmf (rdkcmf-jenkins)
	push = group user/rdkcmf (rdkcmf-jenkins)
	label-Code-Review = -2..+2 group user/rdkcmf (rdkcmf-jenkins)
	label-Verified = -1..+1 group user/rdkcmf (rdkcmf-jenkins)
	rebase = group user/rdkcmf (rdkcmf-jenkins)
	removeReviewer = group user/rdkcmf (rdkcmf-jenkins)
	submit = group user/rdkcmf (rdkcmf-jenkins)
[access "refs/heads/*"]
	read = group user/rdkcmf (rdkcmf-jenkins)
	create = group user/rdkcmf (rdkcmf-jenkins)
	push = +force group user/rdkcmf (rdkcmf-jenkins)
	pushMerge = group user/rdkcmf (rdkcmf-jenkins)
[access "refs/tags/*"]
	push = +force group user/rdkcmf (rdkcmf-jenkins)
	pushTag = group user/rdkcmf (rdkcmf-jenkins)
	pushSignedTag = group user/rdkcmf (rdkcmf-jenkins)
